<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>政资汇-政府资助信息一站式服务平台</title>
    <script src="../static/jQuery-2.14/jquery.js" type="text/javascript"></script>
    <link href="../static/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../static/css/client_filter.css" rel="stylesheet" type="text/css"/>
    <script src="../static/js/client_filter.js" type="text/javascript"></script>
</head>
<body>
    <div class="filter">
        <div class="f-row clearfix ">
            <div class="f-head">
                <span>
                部门:
                </span>
            </div>
            <div class="f-select">
                <ul class="f-labels">
                <li><a href="javascript:void(0);">全部</a></li>
                <li><a href="javascript:void(0);">经济与信息化</a></li>
                <li><a href="javascript:void(0);">发展与改革</a></li>
                <li><a href="javascript:void(0);">财政</a></li>
                <li><a href="javascript:void(0);">科技</a></li>
                <li><a href="javascript:void(0);">教育</a></li>
                <li><a href="javascript:void(0);">文化</a></li>
                <li><a href="javascript:void(0);">卫计</a></li>
                <li><a href="javascript:void(0);">体育</a></li>
                <li><a href="javascript:void(0);">知识产权</a></li>
                <li><a href="javascript:void(0);">农业</a></li>
                <li><a href="javascript:void(0);">林业</a></li>
                <li><a href="javascript:void(0);">畜牧</a></li>
                <li><a href="javascript:void(0);">渔业</a></li>
                <li><a href="javascript:void(0);">粮食</a></li>
                <li><a href="javascript:void(0);">中医药</a></li>
                <li><a href="javascript:void(0);">国土</a></li>
                <li><a href="javascript:void(0);">住建</a></li>
                <li><a href="javascript:void(0);">交通</a></li>
                <li><a href="javascript:void(0);">水利</a></li>
                <li><a href="javascript:void(0);">能源</a></li>
                <li><a href="javascript:void(0);">环保</a></li>
                <li><a href="javascript:void(0);">商务</a></li>
                <li><a href="javascript:void(0);">投资促进</a></li>
                <li><a href="javascript:void(0);">工商</a></li>
                <li><a href="javascript:void(0);">税务</a></li>
                <li><a href="javascript:void(0);">民政</a></li>
                <li><a href="javascript:void(0);">人社</a></li>
                <li><a href="javascript:void(0);">扶贫</a></li>
                <li><a href="javascript:void(0);">旅游</a></li>
                <li><a href="javascript:void(0);">人民银行</a></li>
                <li><a href="javascript:void(0);">银监</a></li>
                <li><a href="javascript:void(0);">证监</a></li>
                <li><a href="javascript:void(0);">保监</a></li>
                <li><a href="javascript:void(0);">质监</a></li>
                <li><a href="javascript:void(0);">药监</a></li>
                <li><a href="javascript:void(0);">安监</a></li>
            </ul>
                <div class="multiple-btn">
                    <span class="multiple-enter"><a class=" btn btn-xs btn-danger disabled" href="javascript:void(0)" ><span>确定</span></a></span>
                    <span class="multiple-delete"><a class="btn btn-xs btn-default" href="javascript:void(0)" ><span>取消</span></a></span>
                </div>
            </div>
            <span class="more"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span><span class="text">&nbsp;更多</span></a></span>
            <span class="multiple"><a href="javascript:void(0);" ><span class="glyphicon glyphicon-plus"></span><span class="text">&nbsp;多选</span></a></span>

        </div>
        <div class="f-row clearfix">
            <div class="f-head">
                <span>
                级别:
                </span>
            </div>
            <div class="f-select">
                <ul class="f-labels ">
                    <li><a href="javascript:void(0);">全部</a></li>
                    <li><a href="javascript:void(0);">中央财政资金</a></li>
                    <li><a href="javascript:void(0);">省级财政资金</a></li>
                    <li><a href="javascript:void(0);">市级财政资金</a></li>
                    <li><a href="javascript:void(0);">县级财政资金</a></li>
            </ul>
                <div class="multiple-btn">
                    <span class="multiple-enter"><a class=" btn btn-xs btn-danger disabled" href="javascript:void(0)" ><span>确定</span></a></span>
                    <span class="multiple-delete"><a class="btn btn-xs btn-default" href="javascript:void(0)" ><span>取消</span></a></span>
                </div>
            </div>
            <span class="more"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span><span class="text">&nbsp;更多</span></a></span>
            <span class="multiple"><a href="javascript:void(0);" ><span class="glyphicon glyphicon-plus"></span><span class="text">&nbsp;多选</span></a></span>
        </div>
        <div class="f-row clearfix">
            <div class="f-head">
                <span>
                状态:
                </span>
            </div>
            <div class="f-select">
                <ul class="f-labels ">
                    <li><a href="javascript:void(0);">全部</a></li>
                    <li><a href="javascript:void(0);">正在申报</a></li>
                    <li><a href="javascript:void(0);">截止申报</a></li>
                </ul>
                <div class="multiple-btn">
                    <span class="multiple-enter"><a class=" btn btn-xs btn-danger disabled" href="javascript:void(0)" ><span>确定</span></a></span>
                    <span class="multiple-delete"><a class="btn btn-xs btn-default" href="javascript:void(0)" ><span>取消</span></a></span>
                </div>
            </div>
            <span class="more"><a href="javascript:void(0);"><span class="glyphicon glyphicon-chevron-down"></span><span class="text">&nbsp;更多</span></a></span>
            <span class="multiple"><a href="javascript:void(0);" ><span class="glyphicon glyphicon-plus"></span><span class="text">&nbsp;多选</span></a></span>
        </div>
    </div>
    </div>
</body>
</html>